.article-width {
  max-width: 18rem; /* Não esticar mais que a largura máxima */
}

.image-carousel-one {
  object-fit: cover; /* cobre toda área do container  */
  object-position: 0 60%; /* mover a imagem no eixo x e y  */
  height: 400px;
}

.image-carousel-two {
  object-fit: cover;
  height: 400px;
}

.title-font {
  font-family: "Pacifico", cursive;
}

.especial-color {
  color: darkred;
}

.especial-color-button {
  background-color: darkred;
  color: white;
}

.special-edge-color {
  border-color: darkred;
}

.card-position {
  object-fit: cover;
  height: 200px;
}
